
<div class="row">
    <div class="p-2 d-flex">
        {{#if (if_impar @index)}}
            <div class="col-lg-6"></div>
        {{/if}}
        <div class="col col-lg-6 border-start border-end border-top border-bottom border-tarjeta p-3">
            <div class="row">
                <div class="col col-lg-6 " >
                    <img src="/imgs/{{this.foto}}.jpg" class="fotosPerfil" alt="Foto {{this.nombre}}">
                </div>
                <div class="col col-lg-6"> <!-- border-end border-top border-bottom border-tarjeta -->
                    <div class="justify-content-start">{{ this.nombre }}</div>
                    <div>{{ this.especialidad }}</div>
                    <div>{{ this.anos_experiencia }}</div>
                </div>
            </div>
        </div>
    </div>
</div>
