
<div class="row">
    <div class="p-2 d-flex">
        <div class="col col-lg-4" >
            <img src="/imgs/{{this.foto}}.jpg" class="fotosPerfil" alt="Foto {{this.nombre}}">
        </div>
        <div class="col col-lg-4">
            {{#if (if_impar @index)}}
                <div class="justify-content-start">{{ @index }}</div>
            {{/if}}
            <div>{{ this.nombre }}</div>
            <div>{{ this.especialidad }}</div>
            <div>{{ this.anos_experiencia }}</div>
        </div>
    </div>
</div>